# Sistema de Cinema


def menu():
    print("===== CINEMA PYTHON =====")
    print("1 - Vingadores")
    print("2 - Batman")
    print("3 - Homem-Aranha")


def escolher_filme():
    opcao = int(input("Escolha o filme: "))

    if opcao == 1:
        return "Vingadores", 30
    elif opcao == 2:
        return "Batman", 25
    elif opcao == 3:
        return "Homem-Aranha", 35
    else:
        print("Opção inválida!")
        return None, 0


def calcular_valor(valor_ingresso, quantidade):
    total = valor_ingresso * quantidade
    return total


def meia_entrada(total):
    resposta = input("Deseja meia entrada? (s/n): ")

    if resposta == "s":
        total = total / 2
        print("Meia entrada aplicada!")
    
    return total


def combo_pipoca(total):
    resposta = input("Deseja adicionar combo de pipoca por R$20? (s/n): ")

    if resposta == "s":
        total += 20
        print("Combo adicionado!")

    return total


def cupom_desconto(total):
    cupom = input("Digite o cupom de desconto ou ENTER para continuar: ")

    if cupom == "DESCONTO10":
        desconto = total * 0.10
        total -= desconto
        print("Cupom aplicado com sucesso!")
    else:
        print("Nenhum cupom aplicado.")

    return total


def pagamento():
    print("\nForma de pagamento:")
    print("1 - PIX")
    print("2 - Cartão")
    print("3 - Dinheiro")

    opcao = int(input("Escolha a forma de pagamento: "))

    if opcao == 1:
        return "PIX"
    elif opcao == 2:
        return "Cartão"
    elif opcao == 3:
        return "Dinheiro"
    else:
        return "Forma inválida"


def finalizar_compra(nome, filme, quantidade, total, forma_pagamento):
    print("\n===== COMPRA FINALIZADA =====")
    print("Cliente:", nome)
    print("Filme:", filme)
    print("Quantidade de ingressos:", quantidade)
    print("Valor total: R$", total)
    print("Pagamento:", forma_pagamento)
    print("Bom filme!")


# Programa principal

nome = input("Digite seu nome: ")

menu()

filme, valor_ingresso = escolher_filme()

if filme is not None:

    quantidade = int(input("Quantidade de ingressos: "))

    total = calcular_valor(valor_ingresso, quantidade)

    total = meia_entrada(total)

    total = combo_pipoca(total)

    total = cupom_desconto(total)

    forma_pagamento = pagamento()

    finalizar_compra(
        nome,
        filme,
        quantidade,
        total,
        forma_pagamento
    )

else:
    print("Compra cancelada.")
